<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - devops_project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
</head>

<body>
    <nav class="sidebar bg-dark">
        <ul class="sidebar-nav">
            <li class="sidebar-item-arrow">
                <span class="angels-icon"><i class="fa-solid fa-angles-right"></i></span>

            </li>
            <hr style="color:white; z-index:100;*">
            <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <span class="link-text">Parts</span>
                    <span><i class="fa-solid fa-gears"></i></span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <span class="link-text">Inventory</span>
                    <span class="parts-icon"><i class="fa-solid fa-boxes-stacked"></i></span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="sidebar-link">
                    <span class="link-text">Plants</span>
                    <span class="parts-icon"><i class="fa-solid fa-industry"></i></span>
                </a>
            </li>

            @if (User?.Identity.IsAuthenticated == true)
            {
                <form id="logoutForm" method="post" class="form-inline" asp-controller="Account" asp-action="LogOff">
                    <button type="submit" class="btn btn-primary">Log Out</button>
                </form>
            }
            else
            {
                <div class="btn-group sidebar-item">
                    <a asp-controller="Account" asp-action="Register" class="user-link"><button type="button"
                            class="btn btn-primary">Sign up</button></a>
                    <button type="button"
                        class="btn btn-primary dropdown-toggle dropdown-toggle-split login-button-dropdown"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-controller="Account" asp-action="Login">Login</a></li>
                    </ul>
                </div>
            }


        </ul>

    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>


        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2023 - Shane, Nikita, Lucas, Phil, Aidan - <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-dark">Privacy</a>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/gridstack/dist/gridstack-all.js"></script>
        <script src="~/js/dashboard/dashboard.js"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>

</html>

